.download {
	margin-top: 20px;
}

.carousel {
	margin-bottom: 40px;
}

.imgBanne {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse {
	background-color: #f0ad4e;
	border-color: #eea236;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #fff;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #ed9c28;
	border-color: #d58512;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #ed9c28;
	border-color: #d58512;
}

.letter-cont {
	text-align: center;
}

.letter-title {
	font-size: 50px;
	margin-bottom: 30px;
}

.letter-color {
	text-align: center;
}

.letter-color > h4 {
	text-align: center;
}

.carousel-inner > .item > img {
	height: 100%;
}

.carousel .item {
	max-height: 500px;
}